@font-face {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: Matrix;
  src: url(matrix.ttf);
}

body{
  background: linear-gradient(#000000, #000000);
}

.main-div{
  margin: 40px 200px 40px 200px;
  //padding: 20px 60px 20px 60px;
}

.name-work{
  font-family: Matrix;
  color: #007400;
  margin-top: -70px;
  margin-bottom: -50px;
  background: radial-gradient(ellipse closest-corner at 500px 900px, #009e00, #000);
  text-align: center;

  h1{
    font-size: 45pt;
  }
}

.input-area {
  margin-top: 90px;
  padding-bottom: 30px;
  textarea {
    padding: 20px 0px 0px 50px;
    outline: none;
    overflow: hidden;
    border-radius: 85px;
    font-size: 16pt;
    color: #fbfffb;
    width: 100%;
    height: 200px;
    resize: none;
    background: linear-gradient(#db1f2a, #ff4c62);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  }
}
.output-area{
  textarea{
    padding: 20px 0px 0px 50px;
    outline:none;
    overflow: hidden;
    border-radius: 85px;
    font-size: 16pt;
    color: #fbfffb;
    width: 100%;
    height: 200px;
    resize: none;
    background: linear-gradient(#0791bf, #30a2bf);
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
  }
}
