body {
  background-color: #071b39;
}
.main-div {
  padding: 20px 60px 20px 60px;
}
.line-numbers {
  overflow: hidden;
  padding-top: 15px;
  position: absolute;
  resize: none;
  height: 450px;
  font-size: 14pt;
  background-color: #204d74;
  text-align: right;
}
.output-line-numbers {
  height: 150px;
}
.input-area {
  padding-bottom: 4px;
}
.input-area textarea {
  padding: 15px 30px 30px 40px;
  font-size: 14pt;
  color: #c1e2b3;
  width: 100%;
  height: 450px;
  resize: none;
  background-color: #03142d;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}
.output-area textarea {
  padding: 15px 0px 0px 40px;
  width: 100%;
  height: 150px;
  resize: none;
  background-color: #010710;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}
